* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: 88px auto 44px auto;
    width: 90%;
}

.sedans {
    background-color: #e28625;
    border-radius: 8px 8px 0 0;
}

.suvs {
    background-color: #006971;
}

.luxury {
    background-color: #004140;
    border-radius: 0 0 8px 8px;
}

section {
    padding-left: 49px;
}

section figure {
    padding-top: 48px;
}

section h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #f2f2f2;
    margin-bottom: 24px;
    margin-top: 32px;
}

section p {
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     line-height: 25px;
     color: #ffffff;
     opacity: 0.75;
     margin-bottom: 24px;
     width: 80%;
}

section button {
    margin-bottom: 48px;
}

.learn-more-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #e28625;
    padding: 12px 32px;
    background-color: #f2f2f2;
    border-radius: 25px;
    border: none;
}

.suv {
    color: #006971;
}

.lux {
    color: #004140;
}

footer a {
    text-decoration: none;
    color: tomato;
}

.paminos {
    color: tomato;
    font-weight: 600;
}

footer {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: darkgrey;
    margin-top: 44px;
}
